#orderClickModalWindow {
    display: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.85);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 1200;
}

#orderClickView {
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    height: 144px;
    left: 50%;
    margin-left: -210px;
    margin-top: -185px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 35px 40px;
    position: absolute;
    top: 50%;
    z-index: 1201;
    width: 345px;
}

.closeModalWindow {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAALCAYAAABGbhwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIRJREFUeNpifCFXwAAE5UDcyYAdgOVYgEQHlOMCxK5oinZDxQWZgIQxVNAFKoGuCASMmaCm7EFTjKwIJOfKBOWgK0ZRBGIwIVkVBsTvkfjvoWIM6ApXgRyNxBeEiqEoRHcTupvBCndjcROGB0EKz6I7HIsHz4ICvALqcGwx4wqLGYAAAwB+bSFdfUfgtAAAAABJRU5ErkJggg==") repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 11px;
    left: 50%;
    margin-left: 190px;
    margin-top: -175px;
    position: absolute;
    top: 88%;
    width: 10px;
    z-index: 100;
}

.errorInput input[type="text"] {
    border: 2px solid #DD0E3A;
    display: inline-block;
    height: 32px;
    padding: 5px 10px;
    position: relative;
    vertical-align: top;
    width: 100%;
}